<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ggfevans.alfred-searxng</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>ggfevans</string>
	<key>description</key>
	<string>Search your personal SearXNG instance</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred-SearXNG-Workflow</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://github.com/ggfevans/Alfred-SearXNG-Workflow</string>
</dict>
</plist>
